* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
h1,
h2,
h3,
h4 {
  color: #594e3b;
}
header {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/background.jpg");
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 6px;
}

.header-content {
  margin-top: 30px;
  color: #594e3b;
  text-align: center;
  font-size: 6vmin;
}

.search-bar {
  min-height: 40px;
  border-radius: 40px;
  background-color: whitesmoke;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.search-button {
  padding-right: 10px;
  color: #867a6a;
}

.search-text {
  border: none;
  background: none;
  font-size: 3vmin;
  outline: none;
  padding-left: 10px;
  margin-left: 5px;
  width: 100%;
}

#error {
  font-size: 3vmin;
  color: white;
  padding: 10px;
  font-weight: 100;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#card {
  display: flex;
  padding: 10px 16px;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0 0 20px 8px #d0d0d0;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
}

#thumbImage img {
  border-radius: 50%;
  max-width: 150px;
}



#row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#column {
  max-width: 350px;
  min-width: 350px;
  padding: 20px;
  flex-direction: column;
  border-radius: 4px;
  flex-basis: 100%;
  flex: 1;
  margin: 20px;
  box-shadow: 2px 2px 22px 6px rgba(0, 0, 0, 0.42);
}

#cardRow {
  display: flex;
}

#cardColumn {
  flex: 50%;
}

#topRow{
    padding-bottom: 10px;
}

h1 {
  display: flex;
  justify-content: center;
  color: #594e3b;
}

#artistInfo {
  padding-top: 10px;
  padding-left: 10px;
}

#links {
  padding: 10px 0px 10px 0px;
}

#eventButton {
  background-color: #594e3b;
  border-radius: 8px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
}
